.navbar {
    text-align: center;
    background-color: rgb(186, 112, 255);
    height: 130px;
    color: rgb(98, 29, 151);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}
